*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #6f92ff;
}

#wrapper{
	width: 960px;
	margin: 10px auto 10px auto;
}
header{
	width: 960px;
	height: 70px;
	padding-top: 30px;
	text-align: center;
	background-color: #45ff41;
}
section{
	width: 960px;
	height: 500px;
	background-color: #ff634e;
}
footer{
	width: 960px;
	height: 25px;
	padding-top: 5px;
	background-color: #45ff41;
	text-align: center;
}
