*{
	margin: 0;
	padding: 0;
}

body{
	/*background-color: #6f92ff;*/
}
body #header {
	background:#000;
	height:200px;
	position:relative;}
	
body #header .logo {
	margin-left:120px;
	top:50px;
	position:fixed;}	

#img_body {
	position:fixed;
	top:370px;}

#wrapper{
	box-shadow:1px 5px 5px 5px #000;
	width: 960px;
	height:600px;
	margin: 30px auto 10px auto;
}
header{
	width: 960px;
	height: 70px;
	padding-top: 30px;
	text-align: center;
	float: left;
}
section{
	width: 960px;
	min-height: 500px;
	height:auto;
	float: left;
}
footer{
	clear:both;
	width: 960px;
	height: 25px;
	padding-top: 5px;
	text-align: center;
}

#clear {
	clear:both;}

#pude_left{

	width: 385px;
	height: 500px;
}
#pude_right{

	margin-left:970px;
	width: 381px;
	height: 500px;

}
